@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --color-primary: 255 255 255;
    --color-secondary: 0 1 18;
    --color-content: 244 247 253;
    --color-main-purple: 99 95 199;
    --color-main-purple-hover: 168 164 255;
    --color-medium-gray: 130 143 163;
    --color-lines: 228 235 250;
    --color-light-gray: 244 247 253;
    --color-red-error: 234 85 85;
    --color-red-error-hover: 255 152 152;
  }

  :root[data-theme="dark"] {
    --color-primary: 43 44 55;
    --color-secondary: 255 255 255;
    --color-content: 32 33 44;
    --color-lines: 62 63 78;
  }

}

.gradient-bg {
  background: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.50) 100%);
}

.gradient-bg-dark {
  background: linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.13) 100%)
}